@import 'variables';
@import 'mixins';

/* 
                Features
                                       */

.sign-up {
  background-image: linear-gradient(-135deg, #43C6AC 0%, #30C7C2 100%);
  border-radius: 5px;
  color: white;
  margin: auto;
  padding-bottom: .1rem;
  position: absolute;
  right: 0;
  text-align: center;
  width: 27rem;

  &:after {
    border-radius: 5px;
    box-shadow: 0 2px 75px 0 rgba(55, 199, 186, 0.8);
    content: "";
    height: 90%;
    left: 2.5%;
    position: absolute;
    top: 5%;
    width: 95%;
    z-index: -1;
  }

  h3 {
    font-family: $serif-ff;
    font-size: $subtitle-fs;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
  }

  h3:after {
    background-color: white;
    border-radius: 6px;
    content: "";
    display: block;
    height: 2px;
    margin: 1.6rem auto;
    width: 100px;
  }

  p {
    color: $white;
    font-size: $content-fs;
    font-weight: 500;
  }
}

.features {
  padding: 7.5rem 0;

  h2 {
    max-width: 35rem;
  }

  p {
    font-size: $content-fs;
    line-height: 1.45;
    max-width: 28rem;
    margin-top: 2rem;
  }

  &__find-in-seconds {
    position: relative;
    width: 24rem;

    &--img {
      position: absolute;
      top: -5rem;
      width: 26rem;
    }

    &--bg {
      margin-left: -5rem;
      margin-bottom: -7.5rem;
      width: 33rem;
    }
  }

  &__get-notified {
    width: 24rem;
    top: -7rem;
    height: 30rem;
    position: relative;
  }

  &__plan-your-session {
    top: -1rem;
    position: relative;
  }

  &__add-to-messenger {
    align-items: center;
    background: $secondary-color;
    box-shadow: 0 4px 15px 0 rgba(67, 198, 172, 1);
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: $content-fs;
    font-family: $main-ff;
    padding: .65rem 1.25rem;
    transition: all .2s ease;

    &:hover {
      box-shadow: 0 6px 15px 2px rgba(67, 198, 172, 0.7);
      transform: translateY(-1px);
    }

    &--light-green {
      box-shadow: 0 4px 15px 0 rgba(50, 148, 128, 1);

      &:hover {
        box-shadow: 0 6px 15px 2px rgba(50, 148, 128, 0.5);
      }
    }

    &--inverse {
      background-color: $white;
      color: $secondary-color;
      margin: 1.25rem auto 1rem;
      padding: .5rem 1.25rem;
      box-shadow: 0 4px 15px 0 #3BAD97;

      &:hover {
        box-shadow: 0 6px 15px 2px #3BAD97;        
      }
    }
  }

  &__messenger-icon {
    content: url(../images/messenger.svg);
    height: 1.75rem;
    margin-right: .75rem;

    &--inverse {
      content: url(../images/messenger-inv.svg);
    }
  }
}
