@import 'variables';
@import 'mixins';

/* 
                Footer
                                       */

.footer {
  background: url(../images/pattern.png);
  padding-top: 7rem;
  z-index: 10;
  position: relative;

  @include display {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  &__share {
    text-align: center;
    margin-top: 1rem;

    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__links {
    margin-top: 5rem;
    padding-bottom: 0.5rem;
    font-size: $content-fs;

    a {
      color: white;
    }
  }

  &__brand {
    color: white;
    font-weight: bold;
    letter-spacing: -0.025rem;
  }

  &__social {
    height: 1rem;
    margin-bottom: -.125rem;
    margin-right: .25rem;

    &--instagram {
      content: url(../images/instagram.svg);
    }

    &--facebook {
      content: url(../images/facebook.svg);
    }

    &--twitter {
      content: url(../images/twitter.svg);
    }
  }

  .sign-up:after {
    box-shadow: 0 0 65px 0 #37C7BA;
    border-radius: 5px;
    height: 90%;
    left: 2.5%;
    top: 5%;
    width: 95%;
    z-index: -1;
  }
}