
/* texts */

$main-ff: 'Cabin', sans-serif;
$serif-ff: 'Playfair Display', serif;

$root-fs: 16px;
$root-fs-sm: 12px;
$title-fs: 3rem;
$subtitle-fs: 1.8rem;
$content-fs: 1.25rem;

/* colors */

$white: #fafafa;
$white-light: #CFD8E6;

$grey: #9D9FA2;
$grey-light: rgba(155, 155, 155, .5);


$primary-color-darker: #021E34;
$primary-color-dark: #181554;
$primary-color: #1F1C6E;
$primary-color-light: #114166;

$secondary-color: #43C6AC;
$secondary-color-light: #2FC7C2;
$secondary-color-dark: #3BAE97;

$bg-color: $primary-color-dark;
$bg-color-light: $white;